// Variables
$brandBlue: #2C5FAC;
$darkGrey: #4D4D4F;
$lightBlue: #97B2BF;

$ws: 15px;

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin animation($animation){
	-webkit-animation:$animation 0.5s both ease-in;
	-moz-animation:$animation 0.5s both ease-in;
	animation:$animation 0.5s both ease-in
}

html{
	font-family: 'Trebuchet MS' !important;
}

.clear{clear:both;}

.view>*{ height: 100vh; }

.welcome{
	  background: url("/img/landingphotoblue.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

.center{
	width:50%;
	margin-left: 20%;
	margin-right: auto;
}

.welcome img{
	margin-top: 120px;
	margin-bottom: 30px;
	width: 40%;
	margin-left: 30%;
}

.welcome a{
    width: 28%;
    margin-left: 34%;
    text-align: center;
}

.center{
	margin: 0 auto;
	max-height:100%;
}

.btn{
	display: block;
	padding: 10px 15px;    
    color: #FFF;
    text-decoration: none;
    text-align: center;
    @include border-radius(5px);
    transition: all 0.5s;
}


.btn:hover{
	background-color: $brandBlue;
}

.btnWhite:hover{
	color: white;
}

.btnBlue{
	@extend .btn;
	background-color: $brandBlue; 
}

.btnGrey{
	@extend .btn;
	background-color: $darkGrey; 
}

.btnLightBlue{
	@extend .btn;
	background-color: $lightBlue;
}

.btnWhite{
	@extend .btn;
    background-color: white;
    color: $brandBlue;
    margin-top: 35px;
    width: 58%;
    margin-left: 18%;
    font-weight: bold;
    text-transform: uppercase;
}

.home .sidebar{
	width: 20%;
	float: left;
	height: 100%;
	background-color: $darkGrey;
}

.home .sidebar .logo
{
	max-width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 48px;
    padding-bottom: 45px;
    background-color:$brandBlue;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

.social .icon{
	max-width: 50px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.social{
	padding-left:11%;
    margin-left: 18%;
    margin-top: 35px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-right: 16%;
}


@keyframes fadeOut{
	from{opacity:1;}
	to{opacity:0;}
}

@keyframes fadeIn{
	from{opacity:0;}
	to{opacity:1;}
}

@keyframes slideOutLeft {
	from{ transform: translateX(0); }
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	from{ transform: translateX(0); }
	to 		{ transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	from{ transform: translateX(0); }
	to 		{ transform: translateX(-100%); }
}

.ng-leave{
	@include animation(fadeOut);
}

.ng-enter{
	@include animation(fadeIn);
}

.sidebar .nav{
	text-align: center;
	padding-left: 10px;
	list-style-type:none !important;
}

.sidebar .nav li{
    padding-top: 27px;
    font-size: 125%;
}

.sidebar .nav a{
	text-decoration: none !important;
	color: white !important;
	transition: all 0.5s;
}

.sidebar .nav a:hover{
	color: $lightBlue !important;
}