html {
  font-family: 'Trebuchet MS' !important; }

.view.ng-leave {
  -webkit-animation: fadeOut 0.5s both ease-in;
  -moz-animation: fadeOut 0.5s both ease-in;
  animation: fadeOut 0.5s both ease-in; }

.view.ng-enter {
  -webkit-animation: fadeIn 0.5s both ease-in;
  -moz-animation: fadeIn 0.5s both ease-in;
  animation: fadeIn 0.5s both ease-in;
  animation-delay: 0.5s; }

.welcome {
  width: 100%; }

.page {
  width: 85%;
  height: 100%;
  float: right; }

.clear {
  clear: both; }

html {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; }

body {
  background-color: transparent; }

.center {
  width: 50%;
  margin-left: 20%;
  margin-right: auto; }

.welcome img {
  margin-top: 120px;
  margin-bottom: 30px;
  width: 40%;
  margin-left: 30%; }

.welcome a {
  width: 28%;
  margin-left: 35%;
  text-align: center; }

.center {
  margin: 0 auto;
  max-height: 100%; }

.btn, .btnBrand, .btnGrey, .btnlightBrand, .btnWhite {
  display: block;
  padding: 10px 15px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.5s; }

h1 {
  padding-top: 10px;
  text-transform: uppercase;
  color: #2C5FAC !important; }

.btn:hover, .btnBrand:hover, .btnGrey:hover, .btnlightBrand:hover, .btnWhite:hover {
  background-color: #2C5FAC; }

.btnWhite:hover {
  color: white; }

.btnBrand {
  background-color: #2C5FAC; }

.btnGrey {
  background-color: #4D4D4F; }

.btnlightBrand {
  background-color: #97B2BF; }

.btnWhite {
  background-color: white;
  color: #2C5FAC;
  margin-top: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slideOutLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }
@-moz-keyframes slideOutLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }
@-webkit-keyframes slideOutLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }
.banner {
  width: 100%; }

.sidebar .nav {
  text-align: center;
  padding-left: 0;
  list-style-type: none !important; }

.sidebar .nav li {
  padding-top: 27px;
  font-size: 125%; }

.sidebar .nav a {
  text-decoration: none !important;
  color: white !important;
  transition: all 0.5s; }

.sidebar .nav a:hover {
  color: #97B2BF !important; }

.sidebar {
  width: 15%;
  float: left;
  min-height: 100%;
  background-color: #4D4D4F;
  position: absolute;
  left: 0px;
  z-index: 1; }

.sidebar .logo {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 48px;
  padding-bottom: 45px;
  background-color: #2C5FAC;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.social .icon {
  max-width: 50px;
  padding-top: 10px;
  padding-bottom: 5px; }

.social {
  text-align: center;
  margin-top: 35px;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.content {
  padding-left: 80px;
  padding-top: 30px;
  margin-right: 10%;
  line-height: 28px;
  margin-bottom: 100px;
  color: #4D4D4F; }

.section hr {
  margin: 50px 0px; }

a {
  text-decoration: none;
  color: #2C5FAC; }

a:hover {
  color: #97B2BF; }

.btnBrand.ng-leave {
  display: none !important; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }

  #wrapper.toggled {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #wrapper.toggled #sidebar-wrapper {
    width: 0; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
